html, body{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Underline */
.div-underline,.bounce, .buzz{
  margin: 50px 0px;
}

.div-underline {
  background-color: gray;
  width: 300px;
  height:120px;
  transition-property: all;
}

.skyblue {
  background-color: skyblue;
  margin: 0 auto;
  width: 0;
  height:20px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
}

.div-underline:hover .skyblue {
  width: 300px;
}

p {
  font-size: 30px;
}

/* ---------- */
/* Bounce to right */

.bounce {
  background-color: gray;
  width: 300px;
  height:120px;
  transition-property: all;
}

.bounce-right {
  background-color: skyblue;
  width: 0;
  height: 100%;
  transition-timing-function: ease-out;
  transition-duration: 0.4s;
}

.bounce:hover .bounce-right {
  color: white;
  width: 300px;
}

.text-box, .bounce-text {
  position: fixed;
  width: 100%;
}

.text-box{
  padding-left: 50px;
  padding-top: 10px;
}

/* ================== */
/* Buzz Out */

.buzz {
  background-color: gray;
  width: 300px;
  height:150px;
  transition-property: all;
  
  
}

.buzz-text {
  text-align: center;
  height: 100%;
  padding-top: 20px;
  /* margin:  */
}
.buzz:hover {
  animation-name: buzz-out;
  animation-duration: 0.5s;


}

@keyframes buzz-out {
  0%{
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

